<div class="indiv-house">
<div class="name-image">
<h1>House <%= @house.name %> <%= link_to "(edit)", edit_house_path(@house) %></h1>

<%= image_tag @house.image %>
</div>
<div class="sigil">Sigil: <%= @house.sigil %></div>
<h4>Words: "<%= @house.words %>"</h4>

<h2>Characters <%= link_to "(+)", new_house_character_path(@house) %></h2>

<ul>
	<% @house.characters.each do |character| %>
	<li>
		<%= link_to character.name, house_character_path(@house, character) %>
	</li>
	<% end %>
</ul>

</div>
