<h1>Edit Character</h1>

<%= form_for [@house, @character] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :alias %>
	<%= f.text_field :alias %>

	<%= f.label :image %>
	<%= f.text_field :image %>

	<%= f.submit %>
<% end %>

<%= form_for [@house, @character], method: :delete do |f| %>
	<%= f.submit "Delete" %>
<% end %>