<%= link_to @house.name, house_path(@house) %>

<h1><%= @character.name %> <%= link_to "(edit)", edit_house_character_path(@house, @character) %> </h1>

<h4>Title: <%= @character.title %></h4>
<h4>Alias: <%= @character.alias %></h4>

<%= image_tag @character.image %>